<head>
	<title>様々なジャンルの小説を読もう！無料チャット形式小説投稿サイトBookChat</title>
	<meta name="description" content="様々なジャンルの作品を無料で好きなだけ読める！作家登録することで気軽に簡単に作品を投稿することも可能。過去の青空文庫の名作もチャット形式で復活！">
</head>
<div class="categoryAll">
	<div class="categoryAll_content">
		<h1>ジャンル一覧</h1>
		<div class="categoryAll_select">
			<div class="categoryAll_box">
				<a href="/aozora_books">
				<div class="categoryAll_box_image" style="background-image: url(/category_aozora.jpg)">
					<div class="category_black">
						<h3>青空文庫</h3>
					</div>
				</div>
				</a>
			</div>
			<div class="categoryAll_box">
				<a href="/1/恋愛/category_love/each_category">
				<div class="categoryAll_box_image" style="background-image: url(/category_love.jpg)">
					<div class="category_black">
						<h3>恋愛作品</h3>
					</div>
				</div>
				</a>
			</div>
			<div class="categoryAll_box">
				<a href="/3/実用・エッセイ/category_essay/each_category">
				<div class="categoryAll_box_image" style="background-image: url(/category_essay.jpg)">
					<div class="category_black">
						<h3>実用・エッセイ</h3>
					</div>
				</div>
				</a>
			</div>
			<div class="categoryAll_box">
				<a href="/4/ＳＦ・冒険/category_SF/each_category">
				<div class="categoryAll_box_image" style="background-image: url(/category_SF.jpg)">
					<div class="category_black">
						<h3>SF・冒険</h3>
					</div>
				</div>
				</a>
			</div>
			<div class="categoryAll_box">
				<a href="/5/青春･友情/category_friend/each_category">
				<div class="categoryAll_box_image" style="background-image: url(/category_friend.jpg)">
					<div class="category_black">
						<h3>青春・友情</h3>
					</div>
				</div>
				</a>
			</div>
			<div class="categoryAll_box">
				<a href="/6/ノンフィクション・実話/category_nonfiction/each_category">
				<div class="categoryAll_box_image" style="background-image: url(/category_nonfiction.jpg)">
					<div class="category_black">
						<h3>ノンフィクション<br>実話</h3>
					</div>
				</div>
				</a>
			</div>
			<div class="categoryAll_box">
				<a href="/7/ホラー・オカルト/category_horrow/each_category">
				<div class="categoryAll_box_image" style="background-image: url(/category_horrow.jpg)">
					<div class="category_black">
						<h3>ホラー・オカルト</h3>
					</div>
				</div>
				</a>
			</div>
			<div class="categoryAll_box">
				<a href="/8/歴史・時代/category_history/each_category">
				<div class="categoryAll_box_image" style="background-image: url(/category_history.jpg)">
					<div class="category_black">
						<h3>歴史・時代</h3>
					</div>
				</div>
				</a>
			</div>
			<div class="categoryAll_box">
				<a href="/9/コメディー/category_comedy/each_category">
				<div class="categoryAll_box_image" style="background-image: url(/category_comedy.jpg)">
					<div class="category_black">
						<h3>コメディー</h3>
					</div>
				</div>
				</a>
			</div>
			<div class="categoryAll_box">
				<a href="/2/ミステリー・サスペンス/category_mystery/each_category">
				<div class="categoryAll_box_image" style="background-image: url(/category_mystery.jpg)">
					<div class="category_black">
						<h3>ミステリー<br>サスペンス</h3>
					</div>
				</div>
				</a>
			</div>
			<div class="categoryAll_box">
				<a href="/10/童話/category_douwa/each_category">
				<div class="categoryAll_box_image" style="background-image: url(/category_douwa.jpg)">
					<div class="category_black">
						<h3>童話</h3>
					</div>
				</div>
				</a>
			</div>
			<div class="categoryAll_box">
				<a href="/11/その他/category_others/each_category">
				<div class="categoryAll_box_image" style="background-image: url(/category_others.jpg)">
					<div class="category_black">
						<h3>その他のジャンル</h3>
					</div>
				</div>
				</a>
			</div>
			<div class="clear"></div>
		</div>
	</div>
</div>