<head>
	<title>プライバシーポリシー|チャット型小説投稿サイトBookChat</title>
</head>
<div class="PrivacyPolicyPage">
	<div class="PrivacyPolicy_content">
		<h1>プライバシーポリシー</h1>
		<div class="PrivacyPolicy_content2">
			<div class="PrivacyPolicy_box">
				<h3>個人情報に対する基本的な考え方</h3>
				<p>Medici合同会社（以下「当社」）は、「BookChat」（以下、「本サイト」といいます。）を提供するにあたり、必要となる情報をユーザーから取得します。当社は、ユーザー（正式な手続きを完了し本サイトに登録した読者及び作家）から取得した個人情報の保護に最大限の注意を払います。当社の個人情報に対する考え方は以下の通りです。なお、当プライバシーポリシーにおける用語は、当プライバシーポリシーに定義されるもののほか、本サービスの利用規約において定義される意味によるものとします。</p>
			</div>
			<div class="PrivacyPolicy_box">
				<h3>個人情報の取得</h3>
				<p>
					1. 本サービスにユーザー登録する際に、当社はユーザーの氏名、メールアドレス、年齢等をお尋ねします。<br><br>
					2. ユーザーが、当社が指定するサードパーティ（以下「特定サードパーティ」）のサービスを通じたID連携を希望する場合には、当社は、第1項に替えて、特定サードパーティのサービスを通じ、ユーザーが特定サードパーティに登録した前項に掲げる情報を含む個人情報（ただし、当社が特定サードパーティから取得することにつきユーザーが承諾したものに限ります。以下「登録ユーザー情報」）を取得します。<br><br>
					3. 当社は、ユーザーのIPアドレス、クッキー情報やユーザーが閲覧したページ、ユーザーの利用環境などの情報をユーザーのブラウザから自動的に受け取り、サーバーに記録します。<br><br>
					4. 当社は、提携先やその他の第三者から、ユーザーまたは第三者の個人情報や信用情報を含む通知を受け取ったり、規約違反行為の調査等のため、公開された個人情報を正当な手段により取得する場合があります。
				</p>
			</div>
			<div class="PrivacyPolicy_box">
				<h3>個人情報の利用</h3>
				<p>1. 当社は個人情報を以下の場合に利用します。<br>
					(1)ユーザーが本サービスを利用する場合<br>
					(2)ユーザーが興味があると思われる情報を掲示するなど、各ユーザーに最適化した情報を<br>本サービス上に表示する場合<br>
					(3)当社のサービスを向上させることを目的として、サービスの利用状況を分析する場合<br>
					(4)ユーザーまたは第三者に本サービスについて説明するため、ユーザーの統計情報を用いる場合<br>
					(5)ユーザーまたは第三者への連絡を行ったり、本人確認、規約違反行為の調査および対応、<br>問い合わせ内容の調査など、個別の処理や業務に必要である場合<br>
					(6)当社の商品、サービス等のご案内のため<br>
					(7)本サービスに関する当社の規約に違反する行為に対する対応のため<br>
					(8)本サービスに関する規約等の変更などを通知するため<br>
					(9)当社のサービスの改善、新サービスの開発等に役立てるため<br>
					(10)当社のサービスに関連して、個人を識別できない形式に加工した統計データを作成するため<br>
					(11)ユーザーへのサービス利用状況通知を目的としたメール配信のため<br>
					(12)その他、上記利用目的に付随する目的のため<br><br>
					2. 当社は上記以外を目的として、個人情報を閲覧、利用することはありません。
				</p>
			</div>
			<div class="PrivacyPolicy_box">
				<h3>個人情報の開示</h3>
				<p>
					1. 当社は、ユーザーご本人から個人情報の開示を求められた場合には、遅滞なくこれを開示します。但し、個人情報保護法、その他の法令により、当社が開示の義務を負わない場合は、この限りではありません。<br><br>
					2. 当社は、本サイト登録者である作家や読者が互いに連絡するため、登録ユーザー情報を提供することができるものとし、ユーザーはこれを異議なく承諾いたします。<br><br>
					3. 前各項の場合のほか、当社は、以下の場合を除いて、個人情報を第三者に開示することはありません。<br>
					(1)個人情報の開示にユーザー本人の同意がある場合。<br>
					(2)アクセスログの表示など本サービスの運営上必要であると当社がみなした場合。ただしこの場合に、登録ユーザー情報が開示されることはありません。<br>
					(3)当社の業務提携先、広告主に対し、提携する業務の遂行に必要な最低限の個人情報を用いる場合。ただしこの場合、開示先の企業は提携する業務遂行の目的以外に、当社から開示された個人情報を利用することはできません。<br>
					(4)令状に基づき開示を求められた場合や、特定電気通信役務提供者の損害賠償責任の制限及び発信者情報の開示に関する法律（プロバイダ責任制限法）に基づく発信者情報開示請求を受けた場合など、個人情報を開示すべき法的義務を当社が負っている場合。<br>
					(5)ユーザーが利用規約に反したとする合理的な疑いがあり、当社の権利、財産やサービス等を保護するため、必要と認められる場合。<br>
					(6)ユーザーまたは第三者の生命、身体および財産等に対する差し迫った危険性があり、緊急の必要性がある場合で、本人の同意を得ることが困難な場合。<br>
					(7)その他法令等により個人情報を第三者に提供することが認められている場合
				</p>
			</div>
			<div class="PrivacyPolicy_box">
				<h3>個人情報の削除</h3>
				<p>	
				1. 当社は、登録ユーザーがご自身の登録ユーザー情報（以下「登録ユーザー個人情報」）について、削除できるようにしています。但し、個人情報保護法その他の法令により、当社が削除の義務を負わない場合は、この限りではありません。<br><br>
				2. 削除処理を行うと、登録ユーザー個人情報は一定期間保存された後、削除されます。当社は削除処理前の本サイト登録者の登録情報をバックアップとして一定期間保存します。<br><br>
				</p>
			</div>
			<div class="PrivacyPolicy_box">
				<h3>個人情報の保護、管理</h3>
				<p>当社は、登録ユーザー個人情報について、当社担当職員以外による参照を禁じています。また、登録ユーザー個人情報は安全な場所に保管されており、当社が管理する区画の外に持ち出されることはありません。</p>
			</div>
			<div class="PrivacyPolicy_box">
				<h3>クッキー</h3>
				<p>
					当社はユーザー認証のためクッキーを使用しています。クッキーの仕組みは以下の通りです。<br>
					(1)ユーザーが本サービスを閲覧する際、当社はユーザーのブラウザに対してユーザーを識別するためのクッキーを送信します。<br>
					(2)ユーザーがブラウザの設定でクッキーの受信を許可している場合、ユーザーが使用しているコンピュータ内にクッキー情報が保管されます。<br>
					(3)ユーザーがブラウザの設定でクッキーの送信を許可している場合、ウェブサーバーはユーザーのブラウザからクッキー情報を受け取ります。ただしユーザーのブラウザはプライバシー保護のため、そのウェブサイトのサーバー自身が送信したクッキーのみ送信を行います。<br>
					(4)ユーザーはクッキーの送受信に関する設定で、「クッキーの送受信を拒否する」といった選択を行うことでクッキーの送受信を拒否することができます。この場合、本サービス内で、クッキーが必要なサービスを利用することができなくなります。<br>
				</p>
			</div>
			<div class="PrivacyPolicy_box">
				<h3>第三者のトラッキングシステム</h3>
				<p>当サイトでは、利用者の動向を調査する為に第三者によるクッキー、画像ファイル（ウェブビーコン）などを用い、統計的なサイト利用情報を取得しています。　</p>
			</div>
			<div class="PrivacyPolicy_box">
				<h3>当ポリシーが適用される範囲</h3>
				<p>
					1. ユーザーが本サービス上で自発的に個人情報を開示した場合、その情報は第三者によって収集されたり悪用されたりする恐れがあります。この場合、当社は一切責任を負いません。<br><br>
					2. 本サービス内で特に定める場合を除き、本サービス上からリンクされた当社の別サイトまたは第三者のサイトおよびサービスは、当プライバシーポリシーとは別の独立した個人情報の保護に関する規程を定めています。当社は第三者のサイトやサービスにおけるこれらの規定や活動についていかなる義務や責任も負いかねます。個人情報の提供にあたっては、各サイトの定める規約等を事前にご確認ください。
				</p>
			</div>
			<div class="PrivacyPolicy_box">
				<h3>プライバシーポリシーの改定</h3>
				<p>当社は当プライバシーポリシーの全部または一部を改定することがあります。この場合、ユーザーの個人情報は、改定後のプライバシーポリシーに従って取り扱われることになります。</p>
			</div>
			<div class="PrivacyPolicy_box">
				<h3>個人情報管理責任者</h3>
				<p>
					当社の個人情報管理責任者は下記の通りです。<br>
					東京都杉並区和泉1-2-4ペルテ代田橋<br>
　　 				Medici合同会社 代表社員　山本　啓太<br>
				</p>
			</div>
			<div class="PrivacyPolicy_box">
				<h3>プライバシーに関する意見・苦情・異議申立て</h3>
				<p>プライバシーに関する意見・苦情・異議申立て等がございましたら、info@medicihiroba.comまでお問い合わせください。内容を確認し、折り返しメールでのご連絡をした後、適切な処理ができるよう努めます。</p>
			</div>
		</div>
	</div>
</div>