<div class="login_formPage">
	<div class="login_form_content">
		<h1>パスワードを忘れた方向け</h1>
		<div class="form-error">
            <%= @error_message %>
        </div>
		<%= form_tag("/login_forget") do %>
		<div class="login_form_box">
			<div class="login_form_category">
				<div class="login_form_what">
					メールアドレス
				</div>
				<div class="login_form_input">
					<input name="email" value="<%= @email %>" required>
				</div>
			</div>
			<div class="login_form_category">
				<div class="login_form_what">
					好きな言葉やフレーズ
				</div>
				<div class="login_form_input">
					<input name="phrase" value="<%= @phrase %>"placeholder="ご登録した際に入力した内容をご入力ください。" required>
				</div>
			</div>
			<div class="logIn_submitBtn">
				<input class="user_login_submit" type="submit" value="ログイン">
			</div>
			<div class="clear_right"></div>
		</div>
		<%end%>
	</div>
</div>